.card {
  width: 250px;
  padding: 0 10px 20px 10px;
  border: 1px solid gray;
  margin: 5px;
  background-color: #FFF;
  text-align: center;
}

.card h2 {
  height: 40px;
  font-weight: 400;
}

.card table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 22px 2px;
}

.active {
  box-shadow: 5px 3px 3px #0C273D;
}

.active h2 {
  color: #d5654b;
  font-weight: 700;
}
