.card {
  background-color: #FFF;
  margin: 5px;
  width: 250px;
  border: 1px solid gray;
  text-align: center;
  padding-bottom: 20px;
}

.card h2 {
  font-weight: 400;
  height: 40px;
}

.card table {
  margin: 0 auto;
}

.above-half {
  background-color: blue;
}

.below-half {
  background-color: red;
}

.active {
  background-color: #54D0ED;
}