.comparison {
  display: flex;
  justify-content: space-around;
  height: 410px;
  padding: 5px 20px;
  border: 15px solid transparent;
  border-image: url('./woodgrain.jpg') 30 round;
  background-image: url('./blackboard.jpg');
}

.comparison-results {
  width: 400px;
  margin: auto 0;
  color: white;
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

.comparison-results p {
  margin: 0;
}

.start-message {
  margin: 25px;
  color: white;
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 35px;
  text-align: left;
}

@media screen and (max-width: 675px) {
  .comparison {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .start-message {
    font-size: 30px;
  }
}
