.comparison {
  display: flex;
  justify-content: space-around;
  background-image: url('./blackboard.jpg');
  height: 350px;
  border: 15px solid transparent;
  border-image: url('./woodgrain.jpg') 30 round;
}

.comparison-results {
  color: white;
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.start-message {
  color: white;
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 35px;
  margin: 25px;
  text-align: left;
}

@media screen and (max-width: 675px) {
  .comparison {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .start-message {
    font-size: 30px;
  }
}
