* {
  box-sizing: border-box;
}

header {
  height: 140px;
  padding-top: 30px;
  background-color: #FFFEF1;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0 auto;
  color: #193E47;
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 5.063em;
  font-weight: 700;
  text-align: center;
}
