* {
  box-sizing: border-box;
}

header {
  padding-top: 30px;
  background-color: #FFFEF1;
  height: 140px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Cabin Sketch', Arial, sans-serif;
  font-size: 5.063em;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  color: #0C273D;
}


